name: Release

on: workflow_dispatch

jobs:
  build:
    name: Build release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade build

      - name: Build
        run: |
          python -m build

      - name: Upload build
        uses: actions/upload-artifact@v5
        with:
          name: release-dist
          path: dist/

  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: build
    # This is a separate job to limit exposure to elevated permissions.
    environment: pypi
    permissions:
      id-token: write
    steps:
      - name: Download build
        uses: actions/download-artifact@v6
        with:
          name: release-dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
